/*
Notes:
- Use Pico CSS color variables, and then edit the variables so that they're applied consistently across the site.
*/

// Override some colors
// TODO: These colors only make sense in dark mode
:root {
  --pico-primary: #86cbed;
  --pico-primary-hover: #b0d1e2;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  background: var(--pico-muted-border-color);
  padding: 15px;

  .title {
    font-size: 2rem;
  }
}

footer {
  background: var(--pico-muted-border-color);
  margin-top: auto;
  padding: 15px;
  font-size: 0.8em;
  text-align: center;
}

section {
  padding: 30px;
  border-radius: 10px;
}

section:nth-of-type(even) {
  background: var(--pico-muted-border-color);
}