---
layout: default
title: Blog
---

{% for post in site.posts %}
    <p class="blog-post">
    <h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
    <div>
        <span class="author">By {{ post.author }}</span>
        <span class="date"> | Published on {{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
    {% if post.excerpt | strip_html | size > 100 %}
        <a href="{{ site.baseurl }}/{{ post.url }}">Read more</a>
    {% endif %}
    </p>
    {% unless forloop.last %}
        <hr>
    {% endunless %}
{% endfor %}